body{
	background-color: #2f7bc1;	
}

h2{
	font-family:sans-serif;
	border-radius: 7px;
}

label{
	font-family:serif;
	font-size: 15px; 
}

button[type=submit]{
	background-color: #cf1d66;
	border-radius:25px;
	color: white;
	padding: 10px 55px
	margin : auto 110px;
	border : none;
	cursor: pointer;
	width: 100%;
}

.container{
	width: 30%;
	margin-top: 9%;
	box-shadow: 0 3px 20px rgba(0,0,0,0.3);
	padding: 40px;
	border-radius: 20px;
	background-color: white;
}

